.textArea {
    position: relative;
}
.resetTextArea {
    position: absolute !important;
    bottom: 60px;
    right: 10px;
}
.resetTextArea:hover {
    background-color: rgb(61, 212, 161) !important;
}
.addBtn {
    background-color: rgb(236, 236, 236);
    width: 50%;
}
.addBtn:hover {
    background-color: rgb(213, 213, 213);
    width: 50%;
}
.postsCounter {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 0;
    font-weight: 500;
}